{% extends 'gymapp/base.html' %}

{% block content %}

<div class="hero text-center py-5">

    <h1 class="display-3 fw-bold">
        Transform Your Body
    </h1>

    <p class="lead">
        Achieve your fitness goals with professional trainers.
    </p>

    <a href="/register/" class="btn btn-success btn-lg m-2">
        Join Now
    </a>

    <a href="/workouts/" class="btn btn-warning btn-lg m-2">
        Workout Plans
    </a>

    <a href="/contact/" class="btn btn-info btn-lg m-2">
        Contact Us
    </a>

    <a href="/bmi/" class="btn btn-primary btn-lg m-2">
        BMI Calculator
    </a>

    <a href="/progress/" class="btn btn-danger btn-lg m-2">
        Progress Tracker
    </a>

</div>

<hr>

<h2 class="text-center mt-5 mb-4">Our Trainers</h2>

<div class="row">
{% for trainer in trainers %}
    <div class="col-md-4 mb-4">
        <div class="card p-4 text-center">
            <h4>{{ trainer.name }}</h4>
            <p>{{ trainer.specialization }}</p>

            {% if trainer.experience %}
            <p>{{ trainer.experience }} Years Experience</p>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

<hr>

<h2 class="text-center mt-5 mb-4">Membership Plans</h2>

<div class="row">
{% for plan in memberships %}
    <div class="col-md-4 mb-4">
        <div class="card p-4 text-center">
            <h3>{{ plan.plan_name }}</h3>

            <h2 class="text-success">
                ₹{{ plan.price }}
            </h2>

            <p>{{ plan.duration }}</p>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}